.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  margin: 30px auto;
  text-align: center;
}

.left-container {
  width: 400px;
  border-right: 1px gray solid;
  padding: 20px
}

.right-container {
  width: 400px;
  padding: 20px
}