.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(98, 205, 253)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  margin: 30px auto;
  text-align: center;
}

.left-container {
  text-align: center;
  width: 400px;
  border-right: 1px gray solid;
  padding: 20px
}

.right-container {
  width: 400px;
  padding: 20px
}

input {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color:#e3d900;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px 0;
}

.smurf-card {
  width: 400px;
  border-radius: 10px;
}